.projects {
  background-color: rgb(31, 31, 31);
  color: white;
  margin: 0;
  .projectHeader {
    font-size: 48px;
    font-weight: 700;
    margin-left: 80px;
  }
  .underline {
    width: 255px;
    height: 50px;
    border-top: 5px white solid;
    margin-left: 80px;
  }
  .projectContainer {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .text-xl {
      color: white;
    }
  }
}
