.link-btn:link,
.link-btn:visited {
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  background-color: white;
  color: #777;
  border-radius: 50px;
  position: relative;
  margin: 30px 5px;
  transition: all 0.2s;
}

.link-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.25);
}

.link-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
}

@media (max-width: 680px) {
  .link-btn:link,
  .link-btn:visited {
    padding: 10px 20px;
  }
}
